査読付き匿名ツイッター
%h1 Annonytter

= flash[:success]
= flash[:error]
%hr/

このフォームから
= link_to "@AnnonytterApp", Settings[:twitter_url]
にツイートできます。


= form_for @tweet do |f|
  = f.label :text, "text"
  = f.text_area :text
  = f.label :image, "image URL"
  = f.text_field :image
  = f.submit 'Save'

残り投稿回数
= session[:post_remains]

%hr/


他の投稿者のツイートを
= Settings[:post_review_ratio]
件レビューすると投稿回数が回復します。良識に従って判定しましょう。
= form_tag vote_tweets_path, method: 'get' do
  = submit_tag "review submit"
  %table.tweets_table
    %tr
      %th id
      %th 本文
      %th 画像
      %th.bg-success 承認
      %th.bg-success
      %th.bg-danger 却下
      %th.bg-danger
    -@tweets.reverse.each do |tw|
      %tr
        %td= tw.id
        %td= tw.text
        %td= link_to "■",tw.image unless tw.image.empty?
        %td.bg-success= radio_button "vote", tw.id, "accept"
        %td.bg-success= tw.accept_value
        %td.bg-danger= radio_button "vote", tw.id, "reject"
        %td.bg-danger= tw.reject_value
