= flash[:success]
= flash[:error]

= form_for @tweet do |f|
  = f.label :text, "テキスト"
  = f.text_area :text, maxlength: 140
  = f.label :image, "画像URL"
  = f.text_field :image
  = f.submit '保存'
%hr/

= form_tag post_tweets_path, method: 'get' do
  = label_tag :id, "ID"
  = collection_select :tweet, :id, Tweet.all, :id, :id
  = submit_tag 'ツイート'
  
%ul
!= list_of Tweet.all.reverse do |tw,i|
  = tw.id
  = tw.text
  = tw.image
