.container
  %h1 Annonytter
  査読付き匿名ツイッター
  .bg-success= flash[:success]
  .bg-danger= flash[:error]
  %hr/
  
  このフォームから
  = link_to "@AnnonytterApp", Settings[:twitter_url]
  に投稿できます。
  
  .form-group
    = form_for @tweet do |f|
      = f.label :text, "本文"
      = f.text_area :text
      = f.label :image, "画像URL"
      = f.text_field :image
      = f.submit '投稿'
  
  残り投稿回数
  = session[:post_remains]
  
  %hr/
  
  
  他の投稿者のツイートを
  = Settings[:post_review_ratio]
  件レビューすると投稿回数が回復します。良識に従って判定しましょう。
  = form_tag vote_tweets_path, method: 'get' do
    = submit_tag "レビュー送信", class:"btn-primary"
    %table.table
      %tr
        %th id
        %th 本文
        %th 画像
        %th.bg-success 承認
        %th.bg-success
        %th.bg-danger 却下
        %th.bg-danger
      -@drafts.reverse.each do |tw|
        %tr
          %td= tw.id
          %td= tw.text
          %td= link_to "■",tw.image unless tw.image.empty?
          %td.bg-success= radio_button "vote", tw.id, "accept"
          %td.bg-success= tw.accept_value
          %td.bg-danger= radio_button "vote", tw.id, "reject"
          %td.bg-danger= tw.reject_value

  %h2 落選ツイート
  %table.table
    %tr
      %th id
      %th 本文
      %th 画像
    -@rejected.reverse.each do |tw|
      %tr
        %td= tw.id
        %td= tw.text
        %td= link_to "■",tw.image unless tw.image.empty?
      