= flash[:success]
= flash[:error]

= form_for @tweet do |f|
  = f.label :text, "テキスト"
  = f.text_area :text
  = f.label :image, "画像URL"
  = f.text_field :image
  = f.submit '保存'
%hr/

= form_tag post_tweets_path, method: 'get' do
  = label_tag :id, "ID"
  = collection_select :tweet, :id, @tweets.all.reverse, :id, :id
  = submit_tag 'ツイート'

= form_tag vote_tweets_path, method: 'get' do
  %table.tweets_table
    %tr
      %th id
      %th text
      %th image
      %th accept_value
      %th reject_value
      %th review_status
      %th= submit_tag "submit"
    -@tweets.reverse.each do |tw|
      %tr
        %td= tw.id
        %td= tw.text
        %td= tw.image
        %td= tw.accept_value
        %td= tw.reject_value
        %td= tw.review_status
        %td= radio_button "vote", tw.id, "accept"
        %td= radio_button "vote", tw.id, "reject"
